.input {
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #28527a;
  outline: none;
  transition: border 0.2s ease-in;
  width: 200px;
  height: 25px;
  margin: 15px auto;
}
.input:active,
.input:focus {
  background-color: transparent;
  border: transparent;
  border-bottom: 3px solid #28527a;
  outline: none;
}

@media screen and (max-width: 860px) {
  .input {
    width: 70%;
  }
}
