.toolbar {
  width: 100%;
  background-color: #28527a;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
  padding: auto 20px;
  height: 67px;
}

.toolbar ul {
  list-style: none;
  color: white;
  display: flex;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.toolbar h3 {
  font-size: 30px;
  font-weight: 200;
  margin: 15px;
}
.toolbar h3 span {
  font-weight: 200;
}
.toolbar ul li {
  height: 100%;
  margin: auto 15px;
}

.toolbar ul li a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: auto;
  height: inherit;
  box-sizing: border-box;
  transition: border 0.3s ease-out;
}
.toolbar ul li a.active {
  border-bottom: 4px solid rgb(79, 143, 240);
}
