.controls {
  display: flex;
  width: 100%;
  justify-content: left;
  text-align: left;
  margin: auto;
  padding: 10px;
}
.controls button {
  margin: 15px;
  padding: 10px;
  background-color: #28527a;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  outline: none;
  border: transparent;
  width: 100px;
  height: 35.56px;
}
.controls button:hover {
  background-color: #142e47;
}
.controls select {
  height: 35.56px;
  margin: 15px;
  border: 1px solid #28527a;
  outline: none;
  border-radius: 5px;
  min-width: 100px;
}

.controls form {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: auto 20px;
  width: 80%;
}
